<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="utf-8">
        <title>Ro Sham Bo</title>
    </head>
    <body>
        <div class='container'>
            <h1>Ro Sham Bo</h1>
            <p>Player 1 chooses {{ player1 }}, Player 2 chooses {{ player2 }}</p>
            <h3>{{ result }} wins!</h3>
        </div>
    </body>
</html>
